.vscode
vendor/
public/vendor
app/uploads
# app/config/config_env.php
# app/config/config.php
.idea/
public/info.php
public/php_errors.log
components/
dev_resources_archive/
bfg.jar
filetmp/
.php_cs.cache
public/large
applications/
